app:
  name: golang_api_example
  prefix: gae
service:
  page_items: 10
db:
  writer:
    host: 127.0.0.1
    port: 3306
    username: root
    password: root
    database: local_test
  reader:
    host: 127.0.0.1
    port: 3306
    username: root
    password: root
    database: local_test
  debug_mode: false
jwt:
  secret: this is jwt secret
  expire_at: 7200
  effect_at: -1000
  issuer: adam
gin:
  debug_mode: false
  port: 8080
  read_timeout: 60
  write_timeout: 60
acm:
  model:
    config: ../../config/casbin_lib/model.conf
doc:
  title: golang API Example
  description: This is a golang API example
  version: 1.0.0
  host: localhost:8080
  base_path: /