app:
  name: golang_api_example
  prefix: gae
db:
  writer:
    host: 127.0.0.1
    port: 3306
    username: root
    password: root
    database: local_test
  reader:
    host: 127.0.0.1
    port: 3306
    username: root
    password: root
    database: local_test
  debug_mode: true
jwt:
  secret: this is jwt secret
  expire_at: 7200
  effect_at: -1000
  issuer: adam